<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% for section in site.data.nav.header %}
        {% if section.subpages %}
        <li class="nav-item dropdown">
          <div class="btn-group">
            {% if section.url %}
            <a href="{{ section.url }}" class="nav-link">{{ section.title }}</a>
            <a href="#" class="nav-link dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
              aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </a>
            {% else %}
            <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ section.title }}
            </a>
            {% endif %}
            <ul class="dropdown-menu">
              {% for page in section.subpages %}
              <li><a class="dropdown-item" href="{{ page.url }}">{{ page.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ section.url }}">{{ section.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>